{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>{% block title %}LDEA Officers Create Investigations Page{% endblock %}</title>
    <div class="mt-4">
        <div class="row g-4">
            <div class="col-12 col-xl-10 order-1 order-xl-0">
                <div class="mb-9">
                    <div class="card shadow-none border my-4" data-component-card="data-component-card">
                        <div class="card-header p-4 border-bottom bg-body">
                            <div class="row g-3 justify-content-between align-items-center">
                                <div class="col-12 col-md">
                                    <h4 class="text-body mb-0">Create Investigations</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-body p-0">
                            <div class="p-4 code-to-copy">
                                <form class="row g-3 needs-validation" novalidate="">
                                    <div class="col-md-4 position-relative">
                                    <label class="form-label" for="validationTooltip01">First name</label>
                                    <input class="form-control" id="validationTooltip01" type="text" value="Mark" required="" />
                                    <div class="valid-tooltip">Looks good!</div>
                                    </div>
                                    <div class="col-md-4 position-relative">
                                    <label class="form-label" for="validationTooltip02">Last name</label>
                                    <input class="form-control" id="validationTooltip02" type="text" value="Otto" required="" />
                                    <div class="valid-tooltip">Looks good!</div>
                                    </div>
                                    <div class="col-md-4 position-relative">
                                    <label class="form-label" for="validationTooltipUsername">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                                        <input class="form-control" id="validationTooltipUsername" type="text" aria-describedby="validationTooltipUsernamePrepend" required="" />
                                        <div class="invalid-tooltip">Please choose a unique and valid username.</div>
                                    </div>
                                    </div>
                                    <div class="col-md-6 position-relative">
                                    <label class="form-label" for="validationTooltip03">City</label>
                                    <input class="form-control" id="validationTooltip03" type="text" required="" />
                                    <div class="invalid-tooltip">Please provide a valid city.</div>
                                    </div>
                                    <div class="col-md-3 position-relative">
                                    <label class="form-label" for="validationTooltip04">State</label>
                                    <select class="form-select" id="validationTooltip04" required="">
                                        <option selected="" disabled="" value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                    <div class="invalid-tooltip">Please select a valid state.</div>
                                    </div>
                                    <div class="col-md-3 position-relative">
                                    <label class="form-label" for="validationTooltip05">Zip</label>
                                    <input class="form-control" id="validationTooltip05" type="text" required="" />
                                    <div class="invalid-tooltip">Please provide a valid zip.</div>
                                    </div>
                                    <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Submit form</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-2">
                <div class="position-sticky mt-xl-4" style="top: 80px;">
                    <h5 class="lh-1">Others Page </h5>
                    <hr />
                    <ul class="nav nav-vertical flex-column doc-nav" data-doc-nav="data-doc-nav">
                        <li class="nav-item"> 
                            <a class="nav-link" href="{% url 'view_investigations' %}">View Investigations</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" href="{% url 'create_investigations' %}">Create Investigations </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
{% endblock content %}