{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>{% block title %}LDEA Officers View Cases Page{% endblock %}</title>
    
    <div class="mt-4">
        <div class="row g-4">
            
            <div class="col-12 col-xl-12 order-1 order-xl-0">
                <div class="mb-9">
                    <div class="card shadow-none border my-4" data-component-card="data-component-card">
                        
                        <div class="card-body p-0">
                            <div class="p-4 code-to-copy">
                                <div id="tableExample" data-list='{"valueNames":["name","email","age"],"page":5,"pagination":true}'>
                                    {% if action is None %}
                                    <div id="tableExample" data-list='{"valueNames":["name","email","age"],"page":5,"pagination":true}'>
                                        <form method="GET" class="drug-form">
                                            {% csrf_token %}
                                            <div class="card shadow-sm border-0">
                                                <div class="card-header bg-white border-bottom">
                                                    <h5 class="mb-0 fw-semibold">View Cases</h5>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row g-4">
                                                        <input type="hidden" name="action" value="view_case">
                                                        <!-- TITLE -->
                                                        <div class="col-md-4">
                                                            <label class="form-label">Year</label>
                                                            <input type="number" name="year" class="form-control" required>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="form-label">County</label>
                                                            <select name="county" class="form-control" required>
                                                                <option value="">Select County</option>
                                                                <option>Bomi County</option>
                                                                <option>Bong County</option>
                                                                <option>Gbarpolu County</option>
                                                                <option>Grand Bassa County</option>
                                                                <option>Grand Cape Mount County</option>
                                                                
                                                                <option>Grand Gedeh County</option>
                                                                <option>Grand Kru County</option>
                                                                <option>Lofa County</option>
                                                                <option>Margibi County</option>
                                                                <option>Maryland County</option>

                                                                <option>Montserrado County</option>
                                                                <option>Nimba County</option>
                                                                <option>Rivercess County</option>
                                                                <option>River Gee County</option>
                                                                <option>Sinoe County</option>

                                                            </select>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="form-label">County</label>
                                                            <select name="role" class="form-control" required>
                                                                <option value="">Select Role</option>                                                            
                                                                <option value="suspect">Suspect</option>
                                                                <option value="victim">Victim</option>
                                                            </select>
                                                        </div>

                                                        <!-- BUTTON -->
                                                        <div class="col-12 d-flex">
                                                            <button type="submit" class="btn btn-primary px-4">
                                                                Next
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    {% else %} 

                                    <div class="table-responsive scrollbar mx-n1 px-1">
                                        <div class="card-header bg-white border-bottom">
                                            <h5 class="mb-0 fw-semibold">View Cases</h5>
                                        </div>
                                        <table class="table fs-9 mb-0 leads-table border-top border-translucent">
                                            <thead>
                                                <tr>
                                                    <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="phone" style="width:15%; min-width: 180px;">
                                                        <div class="d-inline-flex flex-center">
                                                            <span>Title </span>
                                                        </div>
                                                    </th>

                                                    <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="phone" style="width:15%; min-width: 180px;">
                                                        <div class="d-inline-flex flex-center">
                                                            <span>Court LOCATION </span>
                                                        </div>
                                                    </th>

                                                    <th class="sort align-middle ps-4 pe-5 text-uppercase" scope="col" data-sort="date" style="width:15%;">
                                                        Description
                                                    </th>                                                    
                                                    <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
                                                </tr>
                                            </thead>

                                            <tbody class="list" id="leal-tables-body">
                                                {% for case in view_cases %}
                                                    
                                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                                        <!-- LOCATION -->
                                                        <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
                                                            <div>
                                                                <a href="{% url 'cases_detail' case.id %}" style="text-decoration: none;">
                                                                    <div class="fs-8 fw-bold text-body-highlight">{{case.title|truncatewords:5}}</div>
                                                                    <div class="fs-9 fw-bold text-body-highlight">Case Number: {{case.case_number }}</div>
                                                                    <div class="text-body-highlight">Date: {{case.filing_date}}</div>
                                                                </a>
                                                            </div>
                                                        </td>

                                                        <!-- LOCATION -->
                                                        <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
                                                            <div>
                                                                <a href="{% url 'cases_detail' case.id %}" style="text-decoration: none;">
                                                                    <div class="fs-8 fw-bold text-body-highlight">{{case.court_name}}</div>
                                                                    <div class="fs-9 fw-bold text-body-highlight">{{case.county}}</div>
                                                                    <div class="text-body-highlight">
                                                                        <p>
                                                                            Outcome: 
                                                                            <span class="badge bg-danger">{{ case.get_status_display }}</span>
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>

                                                        <!-- DESCRIPTION -->
                                                        <td class="phone align-middle fw-semibold ps-4 border-end border-translucent" style="width: 50%;">
                                                            {{case.description|truncatewords:25}}
                                                        </td>

                                                        <!-- ACTION -->
                                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                                            <div class="btn-reveal-trigger position-static">
                                                                <button class="btn btn-sm dropdown-toggle btn-reveal fs-10" type="button" data-bs-toggle="dropdown">
                                                                    <span class="fas fa-ellipsis-h fs-10"></span>
                                                                </button>

                                                                <div class="dropdown-menu dropdown-menu-end py-2">
                                                                    <a class="dropdown-item" href="{% url 'edit_cases' case.id %}">Edit</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                        <td colspan="5" class="text-center">No data found for selected year</td>
                                                    </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="d-flex flex-between-center pt-3">
                                        <div class="pagination d-none"></div>
                                        <div class="d-flex">
                                            <button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>Previous</span></button>
                                            <button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Next</span></button>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div> 

{% endblock content %}